.navbar_techContainer {
    width: 8vw;
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.techDiv {
    border-radius: 100%;
    background-color: transparent;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.25);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.techDiv:hover {
    border: 2px solid rgba(255, 255, 255, 1);
    cursor: pointer;
}

.navbar_techActiveLink {
    background-color: #fff;
    color: black;
}

@media screen and (max-width: 1491px) {
    .navbar_techContainer {
        height: 26vh;
    }

    .techDiv {
        width: 50px;
        height: 50px;
        font-size: 1rem;
    }

    .techDiv:hover {
        border: 2px solid rgba(255, 255, 255, 1);
    }

}

@media screen and (max-width: 971px) {
    .navbar_techContainer {
        height: 29vh;
    }
}

@media screen and (max-width: 768px) {
    .navbar_techContainer {
        flex-direction: row;
        height: auto;
        width: 25vw;
    }
}

@media screen and (max-width: 500px) {
    .navbar_techContainer {
        flex-direction: row;
        height: auto;
        width: 40vw;
    }
}

@media screen and (max-width: 375px) {
    .navbar_techContainer {
        flex-direction: row;
        height: auto;
        width: 60vw;
    }
}