.destination_mainContainer {
    display: flex;

}

.destination_leftContainer {
    /* border: 2px solid #fff; */
}

.destination_leftContainer p {
    color: #fff;
    font-weight: 400;
    font-size: 1.75rem;
    font-family: 'Barlow Condensed';
    margin-left: 8.68vw;
    margin-top: 8.1vh;
    letter-spacing: 4.725px;
}

.destination_leftContainer p span {
    font-weight: 700;
    opacity: 0.25;
    margin-right: 1vw;
}

.destination_leftContainer img {
    margin-top: 10.35vh;
    margin-left: 12vw;
}

.destination_rightContainer {
    width: 23.2vw;
    height: 50.27vh;
    margin-left: 25vw;
    margin-top: 18.5vh;
    color: #fff;
}

.destination_title {
    font-family: 'Bellefair';
    font-size: 6.3rem;
    font-weight: 400;
    line-height: 0;
    text-transform: uppercase;
}

.destination_desc {
    font-family: 'Barlow Condensed';
    font-weight: 400;
    color: #D0D6F9;
    font-size: 1.35rem;
}

.destination_line {
    background: #383B4B;
    height: 1px;
    margin-top: 5vh;
}

.destination_detailsContainer {
    display: flex;
}

.details_key {
    font-family: 'Barlow Condensed';
    color: #D0D6F9;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 2.3625px;
    text-transform: uppercase;
}

.details_value {
    font-family: 'Bellefair';
    font-weight: 400;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.details_rightDiv {
    margin-left: 3vw;
}